body{margin:0;}

.navbar {
    background-color: rgb(0, 0, 79);
    height:80px;
    display:flex;
    justify-content: start;
    align-items:center;
}

.menu-bars{
    padding-left: 20px;
    font-size:2rem;
    background: none;
}

.nav-menu{
    background-color: rgb(40, 83, 163);
    width:250px;
    height:100vh;
    display:flex;
    justify-content: center;
    position: fixed;
    top:0;
    left:-100%;
    transition: 850ms;

}

.nav-menu.active{
    left:0;
    transition:350ms;

}


.nav-menu-items {
    width: 100%;
    padding-left: 20px;
}
  
.navbar-toggle {
    background-color: transparent;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-item {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
  }