.search{
    position: absolute;
    top:20px;
    right:30px;
}

.searchInputs {
}
  
.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
    height: 30px;
    width: 300px;
}

.dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult.close {
    display: none;
}
  
.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .data-item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}
  